<div class="select-label">Your name</div>
<div class="select-wrapper">
  <%= select_tag(:"grader-id", options_for_select(@grader_select_options)) %>
</div>
<div class="notice grader-notice">Who are you?</div>
