<div class="container team-evaluations">

  <h1 class="heading">Team Evaluation</h1>

  <div class="select-container">
    <div class="select-label">Iteration</div>
    <div class="select-wrapper">
      <%= select_tag(:"iteration-id", options_for_select(@iteration_select_options)) %>
    </div>
    <div class="notice iteration-notice">Choose the iteration</div>
  </div>

  <div class="select-container">
    <div class="select-label">Group #</div>
    <div class="select-wrapper">
      <%= select_tag(:"group-id", options_for_select(@group_select_options)) %>
    </div>
    <div class="notice group-notice">Choose your group</div>
  </div>

  <div class="select-container grader-select-form-container">

  </div>

  <div class="evaluation-form-container inactive">

  </div>

</div>


<script type="text/javascript">
  var EvaluationForm  = { 'formData': {} };
  EvaluationForm.renderForm = function() {
    var formData = this['formData'];
    $.ajax({
      type: 'GET',
      url: '<%= new_team_evaluation_path() %>',
      data: formData
    });
  }

  // functions
  function checkLoadForm() {
    var $groupIdDiv                 = $('#group-id'),
        $graderIdDiv                = $('#grader-id'),
        $iterationIdDiv             = $('#iteration-id'),
        EvaluationFormData          = EvaluationForm['formData'],

        groupId                     = $groupIdDiv.val(),
        prevGroupId                 = EvaluationFormData['group_id'],
        graderId                    = $graderIdDiv.val(),
        prevGraderId                = EvaluationFormData['grader_id'],
        iterationId                 = $iterationIdDiv.val(),
        prevIterationId             = EvaluationFormData['iteration_id'],

        $evaluationFormContainer    = $('.evaluation-form-container'),
        $graderSelectFormContainer  = $('.grader-select-form-container'),
        data;

    if (groupId != '' && iterationId != '') {
      // valid values for iteration and group id
      EvaluationFormData['group_id'] = groupId;
      EvaluationFormData['iteration_id'] = iterationId;
      $('#iteration_id').val(iterationId);

      if (prevGroupId != groupId) {
        // new or different group, render form asking for grader id
        delete EvaluationFormData['grader_id'];
        EvaluationForm.renderForm();
      }
      else if (prevGroupId == groupId) {
        // same group
        if (prevGraderId != graderId) {
          // but different grader. rerender entire form
          EvaluationFormData['grader_id'] = graderId;
          EvaluationForm.renderForm();
        } else if (prevGraderId === undefined) {
          // same group, same grader
          // could be same grader if both were undefined, in which case
          // we need to render grader input form
          EvaluationForm.renderForm();
        }
      }
    } else {
      $graderSelectFormContainer.empty();
      $evaluationFormContainer.empty().addClass('inactive');
      if (groupId === '') {
        delete EvaluationFormData['group_id'];
      }
      if (iterationId === '') {
        delete EvaluationFormData['iteration_id'];
      }
    }
  }

  // jQuery
  $().ready(function() {
    $('#iteration-id, #group-id, #grader-id').live('change', function(e) {
      var inputValue = $(this).val();
      if (inputValue == '') {
        $(this).closest('.select-container').find('.notice').fadeIn(200);
      } else {
        $(this).closest('.select-container').find('.notice').fadeOut(200);
      }
      checkLoadForm();
    });
  });


</script>
