<% @team_evaluations_for_group_hash.each_pair do |group_id, indexed_evaluations| %>
  <h2 class="group-label">Group <%= group_id %></h2>
  <%= team_evaluation_table(group_id, indexed_evaluations, @students_for_group_hash[group_id]) %>
<% end %>
