<div class="container admin">
  <aside class="sidebar">
    <h1>Admin Settings</h1>
    <ul class="settings-list">
      <li class="setting-item"><a href="#" class="item-option" data-setting-option="project-preferences">Project Preferences</a></li>
      <li class="setting-item"><a href="#" class="item-option" data-setting-option="iterations">Iterations</a></li>
    </ul>
  </aside>

  <section class="settings-panel">
    <div class="activity-indicator inactive">
      <%= image_tag "activity.gif" %>
    </div>
    <div class="setting-option-container">
      <%= render :partial => "project_preferences" %>
    </div>

  </section>

</div>

<script type="text/javascript">
  $().ready(function() {
    $('.edit-iteration').live('click', function(e) {
      $iterationWrappers = $(this).closest('.iteration-container').find('.iteration-wrapper');
      $iterationWrappers.toggleClass('inactive');
      e.preventDefault();
    });

    $('.update-iteration').live('click', function(e) {
    });

    $('.delete-iteration').live('click', function(e) {
      var confirmVal  = confirm('Are you sure you want to delete this iteration?'),
          iterationId = $(this).attr('data-iteration-id');

      if (confirmVal) {
        $.ajax({
          url: '<%= admin_delete_iteration_path %>',
          data: { 'iteration_id': iterationId }
        });
      }

      e.preventDefault();
    });

    $('.settings-list').live('click', function(e) {
      var $target         = $(e.target),
          selectedOption  = $target.attr('data-setting-option');

      if (selectedOption === 'project-preferences' || selectedOption === 'iterations') {
        selectedOption = selectedOption.replace('-', '_');
        $('section.settings-panel .setting-option-container').empty();
        $('.activity-indicator').removeClass('inactive');
        $.ajax({
          url: '<%= admin_path %>',
          data: { 'type': selectedOption },
          beforeSend: function(xhr, settings) {
            xhr.setRequestHeader('accept', '*/*;q=0.5, ' + settings.accepts.script);
          }
        });
      }

      e.preventDefault();
    });
  });

</script>
