<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hey <%= @gradee.first_name %>,</p>
    <p>
      Here are the results of your group evaluations for <%= @iteration_name %>.
    </p>
    <% @anonymized_evaluations.each do |evaluation| %>
      <p>
        <span>Score: <%= evaluation[:score] %></span><br/>
        <span>Comment: <%= evaluation[:comment] %></span>
      </p>
    <% end %>
    <p>Thanks!<br/>
      The CS169 Fall 2012 Staff
    </p>
  </body>
</html>
