<h1>Listing projects</h1>

<table id="projects">
  <!--thead>
    <tr>
      <th>Title</th>
      <th>Description (for full description, click on title)</th>
      <% if admin_signed_in? %>
        <th></th>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead-->

  <tbody>
  <% @groups.each do |group| %>
    <tr>
      <td><%= group.id %>: <%= group.student_names.join(", ") %></td>
      <td><%= link_to group.assigned_project.title, group.assigned_project %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />
