// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container.admin {
  position: relative;

  text-shadow: 1px 1px 0 #fff;
	h1 {
		margin: 0;
    padding: 20px 0;
	}

  h2 {
    font-size: 18px;
    margin-bottom: 10px;
    &.group-label {
      padding: 10px;
      font-size: 18px;
    }
  }

	
	.field {
		.label {
      display: inline-block;
			width: 210px;
		}
	}

  .panel {
    padding: 25px 0;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    &.team-evaluations-container {
      .heatmap-container {
        display: inline-block;
        &.inactive {
          display: none;
        }
        .heatmap-wrapper {
          margin-left: 50px;
          padding: 10px;
          .heatmap-label {
            display: inline-block;
          }
          .heatmap-toggle {
            margin-left: 10px;
          }
          &.fixed {
            padding: 9px;
            -webkit-box-shadow: 2px 2px 2px #ccc;
            -moz-box-shadow: 2px 2px 2px #ccc;
            box-shadow: 2px 2px 2px #ccc;
            -webkit-border-bottom-right-radius: 10px;
            -webkit-border-bottom-left-radius: 10px;
            -moz-border-radius-bottomright: 10px;
            -moz-border-radius-bottomleft: 10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border: 1px solid #ccc;
            position: fixed;
            background: rgba(255, 255, 255, 0.8);
            top: 0;
          }
        }
      }
      .filters-container {
        margin: 10px 25px;
        display: inline-block;
        .filters-label {
          display: inline-block;
          margin-right: 10px;
        }
        .filters-wrapper {
          display: inline-block;
          padding: 5px;
          border: 1px solid #D9D9D9;
          background: #fff;
          -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
          -moz-border-radius: 7px;
          -webkit-border-radius: 7px;
          border-radius: 7px;
        }
      }
    }
  }
	
	.actions {
    margin: 0;
    input {
      margin: 0;
    }
	}

  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0 0 20px 0;

    thead {
      font-weight: bold;
    }
    td {
      padding: 10px;
      border: 1px solid #ccc;
      -webkit-box-shadow: 2px 2px 2px #fff;
      -moz-box-shadow: 2px 2px 2px #fff;
      box-shadow: 2px 2px 2px #fff;
      word-wrap: break-word;
      max-width: 160px;
      &:first-child {
        width: 160px;
      }
      &.divider {
        padding: 0;
        height: 5px;
        background: #feffff; /* Old browsers */
        background: -moz-linear-gradient(45deg,  #feffff 0%, #ddf1f9 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#feffff), color-stop(100%,#ddf1f9)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(45deg,  #feffff 0%,#ddf1f9 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(45deg,  #feffff 0%,#ddf1f9 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(45deg,  #feffff 0%,#ddf1f9 100%); /* IE10+ */
        background: linear-gradient(45deg,  #feffff 0%,#ddf1f9 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#ddf1f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        box-shadow: 0 1px 0 #fff;
      }
      &.evaluation {
        font-size: 12px;
        background: rgba(255, 255, 255, 0.5);
        &:hover {
          background: rgba(255, 255, 255, 1);
          cursor: pointer;
        }
        .score-container {
          padding: 5px 0;
          .score-wrapper {
            img.icon-edit-score {
              height: 12px;
            }
          }
          .inactive {
            display: none;
          }
          .edit-score-wrapper {
            .edit-score-input {
              width: 30px;
              border: 1px solid #d9d9d9;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              border-radius: 5px;
              padding: 5px;
            }
          }
          &.inactive {
            display: none;
          }
        }

      }
      .comment {
        padding: 5px 0;
      }
      &.definition {
        position: relative;
        font-weight: bold;
        background: #feffff; /* Old browsers */
        background: -moz-linear-gradient(45deg,  #feffff 0%, #edf4f7 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#feffff), color-stop(100%,#edf4f7)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(45deg,  #feffff 0%,#edf4f7, 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(45deg,  #feffff 0%,#edf4f7 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(45deg,  #feffff 0%,#edf4f7 100%); /* IE10+ */
        background: linear-gradient(45deg,  #feffff 0%,#edf4f7 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#edf4f7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        -webkit-box-shadow: 0 0 0 #000;
        -moz-box-shadow: 0 0 0 #000;
        box-shadow: 0 0 0 #000;
        height: 50px;
        .recipient-label {
          position: absolute;
          bottom: 10px;
          left: 10px;
        }
        .evaluator-label {
          position: absolute;
          top: 26px;
          right: 10px;
        }
      }
      &.grader-label {
        font-weight: bold;
        color: #333;
        background: #edf4f7; /* Old browsers */
      }
      &.gradee-label {
        font-weight: bold;
        color: #333;
        background: #fdffff; /* Old browsers */
      }
      .no-evaluation {
        color: #d00;
      }
      .label {
        font-weight: bold;
      }
    }
  }
}
