/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


table#projects thead tr {
      background-color: #EEEEEE;
}

table#projects tr:nth-child(even) {
      background-color: #F0F0F0;
}

table#groups thead tr {
      background-color: #EEEEEE;
}

table#groups tr:nth-child(even) {
      background-color: #F0F0F0;
}

p.important {
  color: #AA0000;
}

p.error {
  color: #AA0000;
  background-color: #f8f8f8;
  padding: 10px;
}