
.nav-bar-container {
  
  background-color: #000;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  
  -moz-box-shadow: 0px 1px 2px #aaa;
  -webkit-box-shadow: 0px 1px 2px #aaa;
  box-shadow: 0px 1px 2px #aaa;
  
  .nav-bar {
    width: 960px;
    margin: auto;
    
    ul.admin-controls {
      float: right;
      list-style-type: none;
      li {
        float: left;
        margin: 0 10px;
      }
      a {
        color: #fff;
      }
    }
  }
  
  a.heading.home {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
  }
  
}

.container.home {
  h2 {
    padding: 30px 0 10px 0;
    text-align: center;
  }
  
  ul.plain {
    margin-bottom: 20px;
    list-style: none;
    text-align: center;
    
    a {
      text-decoration: none;
      li.menu-item {
        display: inline-block;
        margin: 20px;
        .icon {
          width: 50px;
          height: 50px;
          margin: auto;
          text-align: center;
          
          &.icon-projects {
            background: url('icon-projects.png');
            &:hover {
              background: url('icon-projects-hover.png');
            }
          }
          
          &.icon-groups {
            background: url('icon-groups.png');
            &:hover {
              background: url('icon-groups-hover.png');
            }
          }
          
          &.icon-signup {
            background: url('icon-signup.png');
            &:hover {
              background: url('icon-signup-hover.png');
            }
          }
          
          &.icon-project-assignment {
            background: url('icon-project-assignment.png');
            &:hover {
              background: url('icon-project-assignment-hover.png');
            }
          }
          
          &.icon-students {
            background: url('icon-students.png');
            &:hover {
              background: url('icon-students-hover.png');
            }
          }
          
          &.icon-project-preferences {
            background: url('icon-project-preferences.png');
            &:hover {
              background: url('icon-project-preferences-hover.png');
            }
          }
          
          &.icon-admin-panel {
            background: url('icon-admin-panel.png');
            &:hover {
              background: url('icon-admin-panel-hover.png');
            }
          }
        }
      }
    }
  }
  
  .menu-wrapper {
    margin: 0 0 50px 0;
  }
}

.wrapper {
  position: relative;
  margin: auto;
  .content {
    width: 960px;
    margin: auto;
  }
}
