// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container.register {
	h1 {
		margin: 15px 0;
	}
	
	.field {
		label {
			width: 150px;
			text-align: right;
		}
	}
}