// Place all the styles related to the TeamEvaluation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container.team-evaluations {
  text-shadow: 1px 1px 0 #fff;
  text-align: center;

  .title {
    color: #7FAED3;
  }

	.heading {
		text-align: center;
		padding: 25px 0;
	}

  .preselects-container {
    width: 600px;
    display: inline-block;
    text-align: left;
  }

  .form-notice {
    margin: 15px 0 0 0;
    color: #a00;
  }


  .select-container {
    padding: 10px 0;

    .select-wrapper {
      display: inline-block;
      vertical-align: text-middle;
      padding: 3px;
      border: 1px solid #D9D9D9;
      background: #fff;
      -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      border-radius: 7px;
    }

    .slider-labels-wrapper {
      font-size: 10px;
      text-align: center;
      margin: 0;
      overflow: hidden;
      font-weight: bold;
      color: #666;
      .slider-label-container {
        opacity: 0.6;
        border-right: 1px solid #ccc;
        -webkit-box-shadow: 1px 0 0 #fff;
        -moz-box-shadow: 1px 0 0 #fff;
        box-shadow: 1px 0 0 #fff;
        height: 75px;
        &:hover {
          cursor: pointer;
          background: rgba(255, 255, 255, 0.2);
          opacity: 1;
        }
        &.selected {
          opacity: 1;
        }

        vertical-align: text-top;
        display: inline-block;
        width: 80px;
        padding: 0 10px;
        .slider-label-value {
          font-size: 11px;
        }
        &.last {
          border-right: 0;
          -webkit-box-shadow: 0 0 0 #fff;
          -moz-box-shadow: 0 0 0 #fff;
          box-shadow: 0 0 0 #fff;
        }
      }
      .slider-min {
        float: left;
        color: #d00;
      }

      .slider-max {
        float: right;
        color: #4CBB17;
      }
    }

    .select-label {
      display: inline-block;
      vertical-align: text-middle;
      font-size: 13px;
      font-weight: bold;
      width: 100px;
    }

    .notice {
      display: inline-block;
      vertical-align: text-middle;
    }
  }

  .grader-select-form-container {
    padding-bottom: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      padding: 5px;
    }
  }

  .activity-indicator {
    text-align: center;
    &.inactive {
      display: none;
    }
  }

  .evaluation-form-container {
    text-align: center;
    overflow: hidden;

    &.inactive {
      display: none;
    }

    h4.student-name {
      text-align: center;
      font-size: 17px;
      border-bottom: 1px solid #ccc;
      padding: 0 0 20px 0;
      -webkit-box-shadow: 0 1px 0 #fff;
      -moz-box-shadow: 0 1px 0 #fff;
      box-shadow: 0 1px 0 #fff;
    }

    .evaluation-module-wrapper {
      display: inline-block;
      border: 1px solid #e6e6e6;
      background: rgba(255, 255, 255, 0.5);
      -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
      padding: 10px;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      margin: 20px 0;

      .evaluation-module {
        padding: 20px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border: 1px solid #e6e6e6;
        -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);

	      background: #fff url('old_wall3.png');

        .submodule-heading {
          padding: 10px 0;
          margin: 0;
          font-size: 13px;
          color: #666;
          &.error {
            color: #d00;
          }
          .score-label {
            display: inline-block;
          }
          .text-for-score {
            display: inline-block;
            margin: 0 0 0 30px;
            font-weight: normal;
            color: #333;
            font-size: 11px;
          }
        }

        .scores-container {
          .select-wrapper {
            background: rgba(255, 255, 255, 0.5);
            cursor: pointer;
            text-align: center;
            width: 420px;
            &.error {
              border: 1px solid #d00;
            }
          }
          .score-wrapper {
            text-align: center;
            display: inline-block;
            padding: 15px 10px 10px 10px;
          }
        }

        .submodule {
          padding: 10px 0;
          text-align: center;
        }
      }
    }
    .activity-indicator {
      opacity: 1;
      &.inactive {
        opacity: 0;
      }
    }


  }


  textarea {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #D9D9D9;
    -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 500px;
    &.error {
      border: 1px solid #d00;
    }
  }

  .evaluation-success {
    padding: 0 0 0 15px;
    font-size: 14px;
    color: #0a0;
    text-shadow: 0 1px 0 #ddd;
  }

  .preload-img {
	  background: #fff url('old_wall3.png');
    width: 1px;
    height: 1px;
    display: none;
  }

}
